[submodule "snipersim"]
	path = snipersim
	url = https://github.com/JaimeRoelandts/snipersim.git
[submodule "asi/libs/benchmarks"]
	path = asi/libs/benchmarks
	url = https://github.com/VerticalResearchGroup/microbench.git
